$primary-color: #c3cfe2;
$accent-color: #686de0;
$text-color: #fff;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$font-sizes: (
    "large": 25px,
    "medium": 16px,
    "small": 12px
);
$line-heights: (
    "large": 35px,
    "medium": 24px,
    "small": 12px
);

$mobile: 800px;
