$primary-color: #c3cfe2;
//$secondary-color; #000; or $accent-color: #000;
$bg-color: #e17b77;
$fb-color: #3b5998;
$tw-color: #00aced;
$gb-color: #333;
$lnkd-color: #007bb6;

$btn-width: 220px;
$btn-height: 110px;

$btn-right-hidden: -175px;